* {
	box-sizing: border-box;
}
body {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align:center;
	font-size: 18px;
	border: 1px solid #dddddd;
	}

a {
	text-decoration: none;
}
/*a:link, a:visited {
	
}

a:hover, a:active {
	
}        */

header {
	font-family: 'Georgia', Times, Times New Roman, serif; 
	width: 100%;     
/*	height: 60px;  */
}

nav {
	text-decoration: none;           
	display: inline-block;              
	float: right;            
	background-color: #ffffff; 
	padding: 20px 0px 0px 0px; 
	margin-right: 130px;
}
     
li {
	float: left;
	text-decoration: none;
	color: #777777;
	padding-left: 10px;
	padding-right: 10px;
}           

h1, h2, h4 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}

h1 {
/*	margin-left: 100px; */
	margin-left: 14%;
}

p {
	font-size: 15px;
}

footer {
	border: 1px solid #dddddd;
	border-top: 8px solid #4aaaa5;        /* teal */
	padding: 20px;
	background-color: #666666;
	text-align: center;
	color: white;
}

#bio-image {
/*	height: 100px;            */
	width: 40%;
	height: auto;
}

.body {
	margin: 0 auto;            
	width: 70%;                          
	clear: both;         /* no floating on left or right at onset */
}
.wrapper {
	max-width: 960px;   
	margin:0 auto;    
}

.selected {
	text-decoration: none;
	list-style: none;
	font-size: 12px;
	color: #777777;
	margin-left: 5px;
/*	float: left; */
}

.main-body {
/*   /* Background pattern from Subtle Patterns */
	background-image: url("../images/handmadepaper_@2X.png");   
/*	border-top: 1px solid #dddddd; */
	padding: 50px 0px 50px 0px;
	border-top: 1px solid #cccccc;
}

.section-box {	
	padding: 15px;
/*	width: 350px;            */
	width: 40%;
	height: auto;
	background-color: #ffffff;  
	text-align: left;
	float: left;
	margin-left: 5%;
	border: 1px solid #dddddd;
}

.connect-me-box {
	float: right;
/*	width: 270px;              */
	width: 25%;
/*	height: auto;            */
	padding: 10px;
	background-color: #ffffff;
	margin-right: 5%;
	border: 1px solid #dddddd;
}

.text-wrap {
    float: left;
    margin: 2px;
        }

.project {
	float: 	left;                     
	position: relative;               
} 

.proj-image {
	display: inline-block;
	width: 	150px;
	margin: 25px 25px 0px 0px ;            
}

.proj-title {
	position: absolute;               
	left: 0px;
	bottom: 10px;           
	padding: 10px;
	background-color: #4aaaa5;
	font-size: 12px;
	color: white;
	width: 130px;
}
   
.main-header-name {
/*	font-family: 'Georgia', Times, Times New Roman, serif;  */
/*	background-color:#ffffff;     */
	border-color: #cccccc;
	color: white;
	background-color: #4aaaa5; /* teal */   
	padding: 20px; 
	display: inline-block;  
	float: left;
}

.text-width {
 /*   width: 348px;   text of name and email   */
    width: 89%;
}

.text-row-col-size {
/*	width: 25em;         
	height: 10em;  */
	height: auto;
	width: 89%;      
}

.button-info {
	background-color: #4aaaa5; /* teal */   
	padding: 5px;
	color: white;
}
.link-sizes {
	height: 25%;
	width: 25%;
}

 /* Helper class for parent elements that have floating child elements */
.clearfix {
	overflow: auto;
	clear: both;
}

/* @media screen and (min-width: 150px) and (max-width: 640px) {  */

@media screen and (max-width: 640px) {
	
	h1 {
		margin-left: 0%;
	}

	nav {
	/*	float: left;  */
	/* 	text-decoration: none;             */
	/*	display: block;  */ 
	/*	float: left;  */
/*		overflow: auto;
		clear: both;  */
/*		width: 90%;               */
	/*	padding: 1%; */
		
	/*	padding: 2%; */
	/*	margin-right: 0px; */
	/*	padding: 20px 100px 20px 112px; working without other padding in li*/
	/*	margin: 0px 0px 0px 0px;     */
	/*	margin: 15px 15px 15px 15px;    */
		padding: 0px 20px 0px 20px;
		border: 1px dashed orange;
	}

	li {
		float: left;    
/*		padding-left: 1%;
		padding-right: 1%;  */
	/*	margin-left: 0% 0% 0% 0%; */
		/* 	padding: 10px 45px 20px 45px;  */
	}           

	#bio-image {
		width: 100%;
/*		height: auto;  */
	}

	.body {           
		width: 90%;
		font-size: 95%;
	}
	.wrapper {
		max-width: 640px;   
		margin:0 auto;    
	}

	.selected {
		font-size: 100%; 
	/*	margin:0 auto;      */
	/* padding: 10%;  */
	/*	display: inline-block; */
	/*	float: left;                                   */
	/*	margin-right: 2px;
		margin-left: 2px; */
	/*	padding-bottom: 33%;   */
		border: 1px solid red;
	}

	.main-body {
	/*   /* Background pattern from Subtle Patterns */
/*		background-image: url("../images/handmadepaper_@2X.png");   
		border-top: 1px solid ##cccccc;
		padding: 50px 0px 50px 0px;  */
	}

	.section-box {	
/*		padding: 15px;  */
	/*	width: 350px;            */
		width: 90%;
/*		height: auto;
		background-color: #ffffff;   
		text-align: left;
		float: left;
		margin-left: 5%; */
	}

	.connect-me-box {
	/*	float: right;           */
	/*	width: 270px;              */
		width: 90%;
	/*	height: auto;            */
		margin-top: 20px;
		padding: 5px;
		margin-right: 5%;
		text-align: left;
	}
		
	.text-wrap {
	        float: left;
	        margin: 2px;
	        }

	.project {
		float: 	left;                     
		position: relative;               
	} 

	.proj-image {
		display: inline-block;
	/*	width: 	150px;          */
		width: 
		margin: 25px 25px 0px 0px ;            
	}

	.proj-title {
		position: absolute;               
		left: 0px;
		bottom: 10px;           
		padding: 10px;
		background-color: #4aaaa5;
		font-size: 12px;
		color: white;
		width: 130px;
	}
	   
	.main-header-name {
		padding: 20px;
	/*	display: block;  */
		width: 100%;
		display: inline-block; 
/*		float: left;         */
	}

	.text-width {
	 /*   width: 348px;   text of name and email   */
	    width: 89%;
	}
	
	.text-row-col-size {
	/*	width: 25em;         
		height: 10em;  */
		height: auto;
		width: 89%;      
	}

	.button-info {  
		padding: 5px;
	}

	.link-sizes {
		height: 15%;
		width: 15%;
	}
	 /* Helper class for parent elements that have floating child elements */
	.clearfix {
		overflow: auto;
		clear: both;
	}
}	  /* end of Media screen 640   */

/*
@media screen and (min-width: 641px) and (max-width: 768px) {
	/* nothing yet
}  /* end of Media screen 768   */

/*   @media screen and (min-width: 769px) and (max-width: 980px) {

   	}    /* end of Media screen 980   */


/* @media screen and (min-width: 150px) and (max-width: 640px) {  */

@media screen and (max-width: 768px) {
	
	h1 {
		margin-left: 5%;
	}

	nav {
		display: inline-block;              
		float: right;            
		padding: 20px 0px 0px 0px; 
		margin-right: 10px;
		border: 1px dashed green;
	}
     
	li {
		float: left;
		padding-left: 10px;
		padding-right: 10px;
	} 

	#bio-image {
		width: 50%;
/*		height: auto;  */
	}

	.body {           
		width: 90%;
		font-size: 95%;
	}
	.wrapper {
		max-width: 768px;   
		margin:0 auto;    
	}

	.selected {
		font-size: 100%; 
	/*	display: inline-block; */
	/*	float: left;                                   */
	/*	margin-right: 2px;
		margin-left: 2px; */
	/*	padding-bottom: 33%;   */
		border: 1px solid red;   
	}

	.main-body {
	/*   /* Background pattern from Subtle Patterns */
/*		background-image: url("../images/handmadepaper_@2X.png");   
		border-top: 1px solid ##cccccc;
		padding: 50px 0px 50px 0px;  */
	}

	.section-box {	
	/*	width: 350px;            */
		width: 90%;
	}

	.connect-me-box {
	/*	float: right;           */
	/*	width: 270px;              */
		width: 90%;
	/*	height: auto;            */
		margin-top: 20px;
		padding: 5px;
		margin-right: 5%;
		text-align: left;
	}
		
	.text-wrap {
	        float: left;
	        margin: 2px;
	        }

	.project {
		float: 	left;                     
		position: relative;               
	} 

	.proj-image {
		display: inline-block;
	/*	width: 	150px;          */
		width: 
		margin: 25px 25px 0px 0px ;            
	}

	.proj-title {
		position: absolute;               
		left: 0px;
		bottom: 10px;           
		padding: 10px;
		background-color: #4aaaa5;
		font-size: 12px;
		color: white;
		width: 130px;
	}
	   
	.main-header-name {
		padding: 20px;
	/*	display: block;  */
		width: 28%;
		display: inline-block; 
/*		float: left;         */
	}

	.text-width {
	 /*   width: 348px;   text of name and email   */
	    width: 89%;
	}
	
	.text-row-col-size {
	/*	width: 25em;         
		height: 10em;  */
		height: auto;
		width: 89%;      
	}

	.button-info {  
		padding: 5px;
	}

	.link-sizes {
		height: 15%;
		width: 15%;
	}
	 /* Helper class for parent elements that have floating child elements */
	.clearfix {
		overflow: auto;
		clear: both;
	}
}	  /* end of Media screen 768   */
